@media screen and (max-width: 1220px) {
  .row {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media screen and (max-width: 990px) {
  #header {
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    position: static;
    z-index: 999;
  }
  #header .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
  }
  #header .row h1 {
    /* float: left; */
    padding: 10px 0px 10px 50px;
  }
  #header .row .menuopen {
    display: flex;
    align-items: center;
    /* float: right; */
    font-size: 25px;
    /* height: 85px;
    line-height: 85px; */
    margin-right: 50px;
  }
  #header .row #nav {
    /* float: right; */
    width: 100%;
    display: block; /*none이랑 번갈아가면서 테스트해보기 */
    /*자바스크립트 액션으로표시/감춤*/
  }
  #header .row #nav ul.depth1 {
    display: block;
  }
  #header .row #nav ul.depth1 > li {
    /* float: none; */
    position: relative;
    display: block;
    text-align: left;
    margin-left: 0px;
    width: 100%;
    align-items: center;
  }
  #header .row #nav ul.depth1 > li > a {
    height: auto;
    line-height: 50px;
    display: block;
    padding: 0px 50px;
    border-top: 1px solid rgba(132, 132, 132, 0.15);
    font-size: 17px;
    font-weight: bold;
    color: #333;
  }
  #header .row #nav ul.depth1 > li:hover > a {
    background: #000;
    color: #fff;
  }
  #header .row #nav ul.depth1 > li > a::after {
    display: block;
    position: absolute;
    top: 2px;
    right: 50px;
    font-size: 10px;
    font-family: "FontAwesome";
    content: "\f107";
    opacity: 0.3;
  }
  #header .row #nav ul.depth1 > li:hover ul.depth2 {
    display: block;
  }
  #header .row #nav ul.depth2 {
    position: static; /* position의 none은 static */
    top: 100%;
    width: 100%;
    display: none;
    text-align: left;
    z-index: 999;
  }
  #header .row #nav ul.depth2 > li > a {
    display: block;
    padding: 12px 0 12px 50px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 0px solid rgba(132, 132, 132, 0.15);
    border-top: 1px solid rgba(132, 132, 132, 0.15);
    background-color: #fff;
    color: #333;
    transition: all 0.3s;
  }
  #header .row #nav ul.depth2 > li > a:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s;
  }
  /*===============슬라이더=================================*/
  #section .slideOuter .slide .text {
    top: 50%;
  }
  #section .slideOuter .slide .text p {
    font-size: 20px;
    opacity: 0;
    transform: translate(0, 100% 0);
  }
  #section .slideOuter .slide .text h2 {
    font-size: 15px;
    font-weight: normal;
  }
  /*================*/
  #section .aboutUs h2 {
    font-size: 28px;
    color: #333;
    padding: 0 0 20px;
    font-weight: normal;
    text-align: center;
  }
  #section .aboutUs p.slogun {
    font-size: 13px;
    padding: 0 0 50px;
    text-align: center;
  }
  #section .aboutUs ul {
    display: flex;
    flex-wrap: wrap;
  }
  #section .aboutUs ul li {
    /* float: left;
    /* width: 100%; */
    flex: 1 1 100%;
    padding: 10px;
    text-align: center;
  }
  #section .aboutUs ul li h3 {
    font-size: 16px;
    color: #333;
    margin: 30px 0 20px;
  }
  #section .aboutUs ul li p {
    font-size: 12px;
    margin: 0 0 20px;
  }
  #section .aboutUs ul li p span {
    display: block;
  }
  #section .aboutUs ul li a {
    display: inline-block;
    font-size: 12px;
    color: #000;
    margin: 0 0 24.5px;
    font-weight: bold;
    position: relative;
  }
  /*===============크리에이티브=============================*/
  #section .creative {
    /* overflow: hidden; */
    display: block;
    padding: 0;
    background: #fafafa;
  }
  /* #section .creative .videoBox {
    float: left;
    width: 100%;
  } */

  #section .creative .text {
    /* float: left;
    width: 100%; */
    padding: 20px 10px;
  }
  #section .creative .text h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 1.2em;
  }
  #section .creative .text h2 span {
    display: block;
  }
  #section .creative .text p strong {
    display: block;
    font-size: 16px;
    margin: 40px 0;
  }
  #section .creative .text p {
    font-size: 12px;
    word-break: keep-all; /*페이지가 사이즈가 달라질때 단어잘림 허용안함*/
    line-height: 1.5em;
    padding-right: 50px;
  }
  #section .creative .text a {
    display: block;
    margin-top: 50px;
    font-size: 12px;
  }
  /*===============비즈니스=================================*/
  #section .BusinessArea {
    color: #333;
    padding: 60px 0;
    text-align: center;
  }
  #section .BusinessArea h2 {
    font-size: 28px;
    font-weight: normal;
  }
  #section .BusinessArea p {
    font-size: 13px;
    margin: 20px 0 20px;
  }
  #section .BusinessArea p span {
    display: block;
    padding: 3px 0;
  }
  #section .BusinessArea ul {
    display: flex;
    flex-wrap: wrap;
  }
  #section .BusinessArea ul li {
    /* float: left;
    width: 50%; */
    padding: 10px 10px 0 0;
    flex: 1 1 50%;
  }
  #section .BusinessArea ul li > a {
    display: block;
    /* overflow: hidden; */
    position: relative;
  }
  #section .BusinessArea ul li > a .overbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 60%;
    opacity: 0;
    transition: all 0.5s;
  }
  #section .BusinessArea ul li:hover > a .overbox {
    opacity: 1;
  }
  #section .BusinessArea ul li img {
    transition: all 0.5s;
    transform-origin: center top;
    width: 100%;
  }
  #section .BusinessArea ul li:hover img {
    transform: scale(1.1);
  }
  /*===============베스트서비스============================*/
  #section .BestService {
    background: url(../image/banner04.jpg) right center / cover;
    height: 250px;
    text-align: center;
    padding-top: 50px;
    font-family: "Noto Sans KR" sans-serif;
  }
  #section .BestService h2 {
    font-size: 28px;
    font-weight: normal;
    padding: 10px 0 20px;
    text-align: center;
    color: #333;
  }
  #section .BestService > p {
    font-size: 13px;
    line-height: 2em;
  }
  /*===============맵=============================*/
  #section .contact {
    margin-top: 20px;
  }
  #section .contact .row {
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
  }
  #section .contact .map {
    /* float: left;
    width: 100%; */
    padding-bottom: 100px;

    flex: 1 1 100%;
  }
  #section .contact .query {
    /* float: left;
    width: 100%; */
    background: #fff;
    height: auto;
    padding: 0;

    flex: 1 1 100%;
  }
  #section .contact .query h3 {
    font-size: 17px;
    width: 100%;
    padding: 10px 0 20px;
    float: left;
    color: #333;
  }
  #section .contact .query p.greeting {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  #section .contact .query p.address {
    font-size: 12.5px;
  }
  #section .contact .query p.address > span {
    display: block;
    margin-top: 0;
    font-weight: bold;
  }
  #section .contact .query p.btn {
    font-size: 12px;
    padding: 40px 10px 0 0;
  }
  /*===============아워컴퍼니=================================*/

  #footer .row {
    display: flex;
    flex-wrap: wrap;
  }
  #footer .btmlogo {
    /* float: left;
    width: 100%; */
    flex: 1 1 auto;
  }
  #footer .btmmenu {
    /* float: right;
    width: 100%; */
    flex: 1 1 auto;
  }
  #footer .btmmenu .companyinfo {
    float: left;
    width: 100%;
    margin: 20px 0;
  }
  #footer .btmmenu .sns {
    float: right;
    width: 100%;
    margin-left: 50px;
  }
  #footer span {
    display: block;
  }
  #footer span.slash {
    display: none;
  }
}
